body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 7%;
}

.ls {
    display: flex;
    align-items: center;
    gap: 20px;
}


.ls img {
    width: 120px;
}

.la {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: -9px;
    margin-bottom: 20px;
    padding: 10px 7%;
    background-color: rgb(214, 214, 214);
}

.lhs {
    display: flex;
    gap: 10px;
}

.rhs {
    display: flex;
    gap: 10px;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    color: #F84464;
}

h1 {
    text-align: center;
}

.addmovie {
    background-color: #F84464;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
}

form {
    background-color: white;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
}

.lab {
    display: inline;
}

input[type="text"], input[type="date"], select {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="time"] {
    width: 20%;
    text-align: center;
    font-size: 20px;
    height: 30px;
}

.imagesdiv {
    display: flex;
    justify-content: space-evenly;
}

input[type="submit"] {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #eeeeee;
}